<template>
  <footer class="app__footer">
    <div class="footer__info">
      <div class="footer__info__developer">
        Created with
        <MdiIcon class="has-text-love" :path="mdiHeart" />
      </div>
      <div class="footer__info__text">
        Copyright &copy; {{ new Date().getFullYear() }}
        {{ $static.metadata.siteName }}
      </div>
      <div class="footer__info__icons">
        <a :href="$static.metadata.repositoryUrl" target="_blank">
          <MdiIcon class="icon has-text-gitlab" :path="mdiCodeTags" />
        </a>
      </div>
    </div>
  </footer>
</template>

<static-query>
query {
  metadata {
    repositoryUrl
    siteName
  }
}
</static-query>

<script>
import { mdiCodeTags, mdiHeart } from "@mdi/js";

export default {
  name: "TheAppFooter",
  data() {
    return {
      mdiCodeTags,
      mdiHeart,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@styles/_breakpoints";

$footer-padding: 32px;

.app__footer {
  color: $color-light;
  background-color: $color-dark;
}

// Bottom footer section
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $footer-padding;
  font-size: 0.9rem;
  border-top: 1px solid $color-grey;

  @include smDown {
    > *:not(:first-child) {
      margin-top: 16px;
    }
  }

  @include mdUp {
    flex-direction: row;

    > * {
      width: calc(100% / 3);
    }
  }
}

.footer__info__developer,
.footer__info__text {
  color: $color-grey-light;
}

.footer__info__developer {
  display: flex;
  align-items: center;

  .has-text-love {
    margin-left: 4px;
    color: #ff6f8c;
  }
}

.footer__info__text {
  text-align: center;
}

.footer__info__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .icon {
    display: flex;
    color: white;

    &:hover {
      color: $theme-primary-light;
    }

    &:not(:first-of-type) {
      margin-left: 16px;
    }

    &.has-text-gitlab {
      color: #ff9238;
    }
  }
}
</style>
