@import "reset";
@import "utilities";

// Modules
@import "modules/buttons";
@import "modules/elements";
@import "modules/layout";
@import "modules/spacing";
@import "modules/typography";

body,
html {
  background-color: lighten($theme-secondary-light, 5%);
  font-family: Montserrat, Arial;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
