<template>
  <Layout>
    <PageSection size="md-10 lg-8">
      <h2 class="mb-sm">About Game</h2>
      <blockquote class="about__summary">
        As the Guardian of the Forest, protect your home against invaders,
        maintain the delicate balance within the forest, and restore it to its
        former glory.
      </blockquote>
      <div class="about__description">
        <p>
          <strong>The Forest Guardian</strong> follows an appointed “guardian of
          the forest” as they struggle to protect their forest against invaders.
          The guardian is charged with protecting the sanctity of the forest,
          from the trees to the vegetation to the wildlife. However, he is faced
          with the continual threat of outside forces seeking to take what the
          forest offers for their own. While the forest may seem large, every
          stolen resource will decrease its strength and increase the enemy’s;
          the only defence against this is time!
        </p>
        <p>
          The guardian must maintain the balance of the forest and restore the
          former glory of the forest, while taking care to avoid overextending
          himself or the forest’s resources. While the enemy forces threaten to
          overrun the forest, the forest provides a plethora of resources to
          slow and eventually prevent their advance. The guardian can build
          defence towers but must carefully manage supplies, as these structures
          come with a cost to the forest. As the most recent guardian of the
          forest, will you be able to halt the invaders and reestablish the
          forest’s former glory?
        </p>
      </div>
    </PageSection>
  </Layout>
</template>

<script>
export default {
  name: "About",
};
</script>

<style lang="scss" scoped>
.about__summary {
  margin: 0;
  margin-bottom: 32px;
  padding: 8px 0 8px 16px;
  color: $theme-secondary-dark;
  border-radius: 4px;
  border-left: 3px solid $theme-secondary;
}

.about__description {
  p {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}
</style>
