<template>
  <Layout>
    <div class="hero__content">
      <h1 class="hero__title">The Forest<br />Guardian</h1>
      <g-image
        alt="Game Icon"
        class="hero__image elevation-1"
        src="@assets/icons/icon_rounded.png"
        width="300"
      />
      <h2 class="hero__description">More information coming soon!</h2>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Home",
  },
};
</script>

<style lang="scss">
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 32px;
}

.hero__description {
  margin-top: 40px;
  font-size: 150%;
  color: $theme-primary-dark;
}

.hero__image {
  border-radius: 30%;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 350%;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px transparentize($theme-secondary-dark, 0.7);
  color: $theme-primary-dark;

  @include xsOnly {
    text-align: center;
    font-size: 250%;
  }
}
</style>
