<template>
  <SvgIcon type="mdi" :path="path" v-bind="$attrs" />
</template>

<script>
import SvgIcon from "@jamescoyle/vue-icon";

export default {
  name: "MdiIcon",
  components: {
    SvgIcon,
  },
  props: {
    path: {
      type: String,
      required: true,
    },
  },
};
</script>
